@import "@asset/scss/function.scss";

.main-button {
    padding: toRem(10) toRem(18);
    border-radius: toRem(10);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        filter: blur(toRem(10));
    }
    .p-button-label {
        z-index: 30;
    }
    &:hover::before {
        box-shadow: inset 0 0 0 2em#ffa260;
    }
    &--blue {
        &:hover::before {
            box-shadow: inset 0 0 0 2em#000f93;
        }
    }
    &--login {
        background-color: #003465;
    }
}
