<div class="login-popup">
    <p-dialog header="Title" [(visible)]="openDialog" (onHide)="onClosePopup()" styleClass="login-popup__dialog">
        <ng-template pTemplate="header">
            <p-image src="https://firebasestorage.googleapis.com/v0/b/exclusive-shop-c0f66.appspot.com/o/logo%2FlogoSmall.svg?alt=media&token=6bb874e8-d166-4e29-9f52-96b760863e4e" width="150" height="50"></p-image>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="login-popup__wrapper-form">
                <h3 class="login-popup__title">login</h3>
                <form [formGroup]="logForm" class="login-popup__form form" (ngSubmit)="onSubmit()">
                    <p-floatLabel class="form__field">
                        <input class="form__input" id="useremail" pInputText type="text" formControlName="email" />
                        <label class="form__input-label" for="useremail">Email</label>
                        <small class="form__error" [class.form__error--show]="error">
                            {{emailErrorText}}
                        </small>
                    </p-floatLabel>
                    <p-floatLabel class="form__field">
                        <input class="form__input" id="userpassword" pInputText type="password" formControlName="password" autocomplete="current-password" />
                        <label class="form__input-label" for="userpassword">Password</label>
                        <small class="form__error" [class.form__error--show]="error">
                            {{passwordErrorText}}
                        </small>
                    </p-floatLabel>
                    <a href="#" class="form__forget-pass-link hover-link">Forgot Password?</a>
                    <p-button class="form__button main-button main-button--blue" type="submit">sign in</p-button>
                </form>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <footer class="login-popup__footer footer">
                <p class="footer__text">or continue with</p>
                <div class="footer__actions"><p-button class="footer__button  main-button">Google</p-button><p-button class="footer__button  main-button ">Git</p-button><p-button class="footer__button  main-button">facebook</p-button></div>
                <p class="footer__subtext">Don’t have an account yet? <button (click)="goToSingUpPage()" class="footer__text-link hover-link">Sing Up Now
                    </button></p>
            </footer>
        </ng-template>
    </p-dialog>
</div>