<div class="home">
    <div class="home__container">
        <!-- <app-main-banner-section></app-main-banner-section>
        <app-movies-carousel></app-movies-carousel> -->
        <div style="padding-top:200px;">
            <!-- <iframe [src]="safeUrl" title="W3Schools Free Online Web Tutorials"></iframe> -->
            @if(videoKey){
            <app-movie-player [id]="videoKey" [nextId]="nextVideo"></app-movie-player>
            }
            <!-- <video width="320" height="240" controls>
                <source src="https://www.youtube.com/embed/Icnysn53neU" type="video/webm">
            </video> -->

        </div>
    </div>
    <!-- @if(movie)
    { <button (click)="getVideo(movie.id)">click</button>} -->

    <!-- @if(movie)
    { 
    }
    @if(video)
    {
    <div style="background-color: white;">
        <iframe width="560" height="315" [src]="safeUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
    } -->
</div>