<div class="home">
    <div class="home__container">
        <app-main-banner-section></app-main-banner-section>
        <app-movies-carousel></app-movies-carousel>
        <!-- <div style="padding-top:200px;">
            @if(videoKey){
            <app-movie-player [id]="videoKey" [nextId]="nextId"></app-movie-player>
            <app-player-list [movieList]="nextVideo" (movieId)="getVideo($event)"></app-player-list>
            }
        </div> -->
        <!-- {{nextVideo}} -->
    </div>
    <app-filter-panel></app-filter-panel>
</div>