@import "@asset/scss/function.scss";
@import "@asset/scss/hover-link.scss";
.header {
    // .header__container
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: toRem(120);
    z-index: 50;
    &__container {
        display: grid;
        padding-top: toRem(36);
        padding-bottom: toRem(36);
        grid-template-columns: auto minmax(toRem(225), toRem(385)) auto 1fr auto;
        align-items: center;
        background: rgba(255, 255, 255, 0.053);
        backdrop-filter: blur(toRem(70));
    }

    // .header__logo

    &__logo {
        @include adaptiveValue("margin-right", 58, 30);
    }

    // .header__search-bar

    &__search-bar {
        @include adaptiveValue("margin-right", 78, 30);
        ::ng-deep {
            .p-input-icon {
                top: 5%;
                left: 5%;
            }
            .p-inputtext {
                border-radius: toRem(10);
                border: toRem(1) solid #141414;
                background: #000;
                width: 100%;
                height: toRem(48);
                padding-left: toRem(40);
                padding-right: toRem(10);
            }
        }
    }

    // .header__nav-bar

    &__nav-bar {
        ul {
            max-width: toRem(500);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &__watch-list {
        justify-content: end;
        @include adaptiveValue("margin-right", 60, 30);
    }
}
.actions {
    display: flex;
    align-items: center;
    column-gap: toRem(15);
    // .actions__watch-list
}

.watch-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: toRem(8);
    text-transform: capitalize;

    // .watch-list__icon
    &__icon,
    &__link {
        transition: all 0.5s;
    }

    @media (any-hover: hover) {
        &:hover &__icon {
            color: red;
        }
        &:hover &__link {
            transform: scale(1.1);
        }
    }
}
.nav {
    font-family: "Titillium Web";
    text-transform: capitalize;
    padding-top: toRem(12);
    // .nav__item

    &__item {
        display: inline-block;
        list-style: outside none none;
        margin: 0 1em;
        cursor: pointer;
        &--icon {
            &::before {
                content: "";
                width: toRem(8);
                height: toRem(8);
                background-color: red;
                border-radius: 50%;
                animation-name: live;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                margin-right: toRem(5);
            }
        }
    }

    // .nav__link

    &__link {
        display: inline-block;
        font-size: toRem(18);
        font-weight: 300;
        color: #bdbaba7d;
        transition: color 0.2s ease;
        padding: toRem(3) 0;
        margin-bottom: toRem(15);
    }
}
@keyframes live {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
