@import "@asset/scss/function.scss";
@import "@asset/scss/hover-link.scss";
.header {
    // .header__container
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: toRem(120);

    z-index: 50;
    &__container {
        display: grid;
        padding-top: toRem(36);
        padding-bottom: toRem(36);
        grid-template-columns: auto minmax(toRem(225), toRem(385)) 1fr auto;
        align-items: center;
        background: rgba(255, 255, 255, 0.053);
        backdrop-filter: blur(toRem(70));
    }

    // .header__logo

    &__logo {
        @include adaptiveValue("margin-right", 58, 30);
    }

    // .header__search-bar

    &__search-bar {
        @include adaptiveValue("margin-right", 78, 30);
        ::ng-deep {
            .p-input-icon {
                top: 5%;
                left: 5%;
            }
            .p-inputtext {
                border-radius: toRem(10);
                border: toRem(1) solid #141414;
                background: #000;
                width: 100%;
                height: toRem(48);
                padding-left: toRem(40);
                padding-right: toRem(10);
            }
        }
    }

    // .header__nav-bar

    &__nav-bar {
        ul {
            max-width: toRem(431);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    // .header__actions

    &__actions {
        display: flex;
        column-gap: toRem(11);
    }
}

.button-container-1 {
    button {
        width: 101%;
        height: 100%;
        font-weight: 300;
        font-size: 11px;
        letter-spacing: 1px;
        font-weight: bold;
    }
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

// .nav {
//     font-family: "Titillium Web";
//     text-transform: uppercase;
//     text-align: center;
//     font-weight: 600;
// }

// .nav * {
//     box-sizing: border-box;
//     transition: all 0.35s ease;
// }

// .nav li {
//     display: inline-block;
//     list-style: outside none none;
//     margin: 0.5em 1em;
//     padding: 0;
// }

// .nav a {
//     padding: 0.5em 0.8em;
//     color: white;
//     position: relative;
//     text-decoration: none;
//     font-size: toRem(14);
// }

// .nav a::before,
// .nav a::after {
//     content: "";
//     height: 14px;
//     width: 14px;
//     position: absolute;
//     transition: all 0.35s ease;
//     opacity: 0;
// }

// .nav a::before {
//     content: "";
//     right: 0;
//     top: 0;
//     border-top: toRem(2) solid #3e8914;
//     border-right: toRem(2) solid #2e640f;
//     transform: translate(-100%, 50%);
// }

// .nav a:after {
//     content: "";
//     left: 0;
//     bottom: 0;
//     border-bottom: toRem(2) solid #2e640f;
//     border-left: toRem(2) solid #3e8914;
//     transform: translate(100%, -50%);
// }

// .nav a:hover:before,
// .nav a:hover:after {
//     transform: translate(0, 0);
//     opacity: 1;
// }

// .nav a:hover {
//     color: #3da35d;
// }

.nav {
    font-family: "Titillium Web";
    text-transform: capitalize;
    & * {
        transition: all 0.35s ease;
    }

    // .nav__item

    &__item {
        display: inline-block;
        list-style: outside none none;
        margin: 0.5em 1em;
        padding: 0;
        cursor: pointer;
    }

    // .nav__link

    &__link {
        padding: 0.5em 0.8em;
        color: white;
        position: relative;
        text-decoration: none;
        font-size: toRem(16);
        &::before,
        &::after {
            content: "";
            height: 14px;
            width: 14px;
            position: absolute;
            transition: all 0.35s ease;
            opacity: 0;
        }
        &::before {
            content: "";
            right: 0;
            top: 0;
            border-top: toRem(2) solid #3e8914;
            border-right: toRem(2) solid #2e640f;
            transform: translate(-100%, 50%);
        }

        &::after {
            content: "";
            left: 0;
            bottom: 0;
            border-bottom: toRem(2) solid #2e640f;
            border-left: toRem(2) solid #3e8914;
            transform: translate(100%, -50%);
        }
        @media (any-hover: hover) {
            &:hover {
                color: #3da35d;
            }
        }
        @media (any-hover: hover) {
            &:hover::before,
            &:hover::after {
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }
}
