<header class="header">
    <div class="header__container">
        <a routerLink="/" class="header__logo">
            <p-image src="https://firebasestorage.googleapis.com/v0/b/exclusive-shop-c0f66.appspot.com/o/logo%2FlogoSmall.svg?alt=media&token=6bb874e8-d166-4e29-9f52-96b760863e4e" width="150" height="50"></p-image>
        </a>
        <div class="header__search-bar">
            <p-iconField iconPosition="left" class="input">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search titles here..." />
            </p-iconField>
        </div>
        <nav class="header__nav-bar nav">
            <ul class="nav__list">
                @for (link of headerLinks; track link.id) {
                <li class="nav__item" [class.nav__item--icon]="link.icon">
                    <a [routerLink]="link.path" class="nav__link hover-link"> {{link.name}}</a>
                </li>
                }
            </ul>
        </nav>
        <div class="header__watch-list watch-list">
            <i class="watch-list__icon pi pi-heart-fill"></i>
            <a routerLink="/" class="watch-list__link ">{{actionsTitles?.watchList}}</a>
        </div>
        <div class="header__actions actions">
            <p-button (onClick)="onSingIn()" pButton [label]='actionsTitles!.singIn' styleClass="main-button" />
        </div>
    </div>
</header>