<div class="movie-player">
    <youtube-player [width]="1074" [height]="660" [videoId]="id" [playerVars]="{
    controls: 0,
    fs: 0,
    disablekb: 0,
    showinfo: 1,
    rel:0,
    }" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
    <div class="movie-player__controller  controller">
        <div #timeline (click)="showDuring($event)" class="controller__play-bar">
        </div>
    </div>
</div>
<button (click)="playVideo()" style="padding: 30px; background: #000;">play</button>
<button (click)="stopVideo()" style="padding: 30px; background: #000;">stop</button>