@import "@asset/scss/function.scss";

.movie-player {
    position: relative;
    // .movie-player__controles
    border-radius: toRem(20);
    overflow: hidden;
    max-width: toRem(1074);
    height: toRem(660);
    background: #000;
    display: flex;
    justify-content: center;
    z-index: 1;

    &__controller {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
    &::before {
        content: "";
        background: #000;
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0;
        top: 0;
    }
    &::after {
        content: "";
        background: #000;
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0;
        bottom: 0;
    }
    &--show-info {
        &::before,
        &::after {
            display: none;
        }
    }
}
.controller {
    width: 100%;
    height: toRem(70);
    padding: 0 toRem(10);
    // .controller__body

    &__body {
        display: flex;
        padding-top: toRem(10);
        justify-content: space-between;
    }

    // .controller__volume

    &__volume {
    }

    // .controller__midlane

    &__midlane {
        display: flex;
        gap: toRem(10);
    }

    &__play-bar {
        width: 100%;
        height: toRem(4);
        background-color: #fff;
        position: relative;
        transition: height 0.12s;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: calc(100% - var(--progress-position) * 100%);
            background-color: #000f93;
        }
        &::after {
            right: calc(100% - var(--buffering-progress) * 100%);
            background-color: #000f935c;
        }
        @media (any-hover: hover) {
            &:hover {
                height: toRem(8);
            }
            &:hover .controller__time {
                opacity: 1;
            }
        }
        // .controller__time
    }
    &__time {
        position: absolute;
        top: 0;
        left: calc(var(--preview-position) * 100%);
        display: flex;
        opacity: 0;
        &::before {
            align-self: center;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: toRem(8);
            width: toRem(5);
            background-color: #000;
        }
        &::after {
            content: var(--preview-time);
            transform: translate(-40%, -120%);
            background: #000;
            padding: toRem(5);
            border-radius: toRem(5);
        }
    }
    .some-class {
        display: flex;
    }

    // &__running {
    //     position: relative;
    //     width: 2%;
    //     height: inherit;
    //     background-color: #000f93;
    //     &::after {
    //         content: "";
    //         position: absolute;
    //         background-color: inherit;
    //         width: toRem(4);
    //         height: toRem(16);
    //         right: 0;
    //         top: 50%;
    //         transform: translate(0, -50%);
    //     }
    // }
}

.volume-block {
    // .volumn-block__inp
    &__btn {
        position: relative;
    }
    &__inp {
        position: absolute;
        top: -65%;
        left: -2%;
        width: toRem(80);
        transform: rotateZ(270deg);
    }
}

.volume-block {
    // .volume-block__btn

    &__btn {
    }

    // .volume-block__inp

    &__inp {
    }
}
.play {
}
