@import "@asset/scss/function.scss";
@import "@asset/scss/genre-border.scss";
.hat-description {
    // .hat-description__genres-list
    text-transform: uppercase;
    &:not(:last-child) {
        margin-bottom: toRem(22);
    }
    &__genres-list {
        display: flex;
        column-gap: toRem(10);
        cursor: default;
        &:not(:last-child) {
            margin-bottom: toRem(22);
        }
    }

    // .hat-description__info

    &__info {
        color: rgba(255, 255, 255, 0.6);
        display: flex;
        column-gap: toRem(10);
    }
}
.body-description {
    // .body-description__title
    min-height: toRem(280);
    &:not(:last-child) {
        margin-bottom: toRem(60);
    }
    &__title {
        text-shadow: 0px toRem(11) toRem(27) #000;
        font-family: "Ruslan Display";
        font-size: toRem(61);
        letter-spacing: toRem(-4.05);
    }

    // .body-description__text

    &__text {
        letter-spacing: toRem(2);
        &:not(:last-child) {
            margin-bottom: toRem(22);
        }
    }
    :host ::ng-deep &__rating {
        .p-rating .p-rating-item .p-rating-item-active .p-rating-icon {
            color: red;
        }
    }
}
.actions-description {
    display: flex;
    column-gap: toRem(30);
    &__button {
        border: toRem(1) solid rgba(255, 255, 255, 0.6);
        border-radius: toRem(10);
    }
}
