<section class="sing-up-page">
    <div class="sing-up-page__container">
        <h1 class="sing-up-page__title">Welcome to MovieRoll Cinema</h1>
        <form class="sing-up-page__form form">
            <h3 class="form__title">sing up</h3>
            <p-floatLabel>
                <input id="username" type="text" pInputText />
                <label for="username">Username</label>
            </p-floatLabel>
            <p-floatLabel>
                <input id="username" type="text" pInputText />
                <label for="username">Username</label>
            </p-floatLabel>
            <p-floatLabel>
                <input id="username" type="text" pInputText />
                <label for="username">Username</label>
            </p-floatLabel>
            <p-inputMask mask="99/99/9999" placeholder="99/99/9999" slotChar="mm/dd/yyyy" />
            <p-inputMask mask="(999) 999-9999" placeholder="(999) 999-9999" />
            <!-- <p-selectButton optionLabel="label" optionValue="value" /> -->
            <p-treeSelect containerStyleClass="w-full" placeholder="Select Item" />
        </form>
    </div>
</section>