@import "@asset/scss/function.scss";
@import "@asset/scss/genre-border.scss";
.filter-panel {
    // .filter-panel__title

    &__title {
        font-size: toRem(24);
        font-weight: 600;
    }

    // .filter-panel__body

    &__body {
        max-width: toRem(300);
        max-height: toRem(1093);
        border-radius: toRem(20);
        background: #7c7c7c96;
        padding: toRem(30);
        display: grid;
        row-gap: toRem(43);
    }

    // .filter-panel__search-bar

    &__search-bar {
        justify-self: center;
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: toRem(5);
        &:not(:last-child) {
            margin-bottom: toRem(5);
        }
        min-height: toRem(60);
    }
    &__error {
        position: absolute;
        left: 0;
        bottom: toRem(10);
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s;
        padding-left: toRem(3);
        color: rgba(255, 0, 0, 0.679);
        &--show {
            bottom: 0;
            opacity: 1;
            visibility: visible;
        }
    }
    // .filter-panel__chackbox-panel

    &__chackbox-panel {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: toRem(15);
    }
}

.some {
    display: grid;
    grid-template-columns: toRem(350) auto;
}
.filter-panel {
    // .filter-panel__title

    &__title {
    }

    // .filter-panel__body

    &__body {
    }

    // .filter-panel__search-bar

    &__search-bar {
    }

    // .filter-panel__error

    &__error {
    }

    // .filter-panel__chackbox-panel

    &__chackbox-panel {
    }
}
.p-button-group {
}
.movie {
    // display: flex;
    // flex-direction: column;
}
// .movie {
//     display: grid;
//     grid-template-columns: repeat(5, auto);
//     gap: toRem(10);
// }
// .card {
//     width: toRem(200);
//     height: toRem(500);
//     img {
//         width: 100%;
//     }
// }
//===========================================================

:host ::ng-deep .filter-card {
    .movie-card__photo:hover .movie-image__icons {
        //     opacity: 1;
        //     visibility: visible;
    }
    .movie-card {
        // row-gap: toRem(29);
        flex-direction: row;
        width: 100%;
        max-width: none;
        max-width: toRem(1180);
        max-height: toRem(267);
        padding: toRem(22) toRem(21);
        // transition: all 0.3s;
        // border-radius: toRem(20);
        // position: relative;
        &::after {
            // content: "";
            // position: absolute;
            // top: 0;
            // left: 0;
            // height: 100%;
            // width: 100%;
            // transition: all 0.3s;
            // z-index: -1;
            // border-radius: toRem(20);
        }
        @media (any-hover: hover) {
            &:hover::after {
                background: #131313;
                height: 100%;
                box-shadow: 0px toRem(17) toRem(27) 0px #000;
            }
            &:hover &__description {
                // opacity: 1;
                // visibility: visible;
            }
            &:hover &__photo::before {
                // background: transparent;
            }
        }
        &__photo {
            max-width: toRem(153);
            max-height: toRem(215);
            margin-right: toRem(39);
            // border-radius: toRem(20);
            // overflow: hidden;
            // position: relative;
            &::before {
                width: 0;
                height: 0;
            }
            @media (any-hover: hover) {
            }
        }

        &__description {
            width: inherit;
            height: inherit;
            opacity: 1;
            visibility: visible;
        }
    }
}

.movie-text {
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    // .movie-text__descriptions
    &__descriptions {
    }

    // .movie-text__actions

    &__actions {
    }
}
.descriptions-block {
    color: #fff;
    // .descriptions-block__headline

    &__headline {
        display: flex;
        flex-direction: column;
        row-gap: toRem(9);
        &:not(:last-child) {
            margin-bottom: toRem(19);
        }
    }

    // .descriptions-block__title

    &__title {
        font-size: toRem(20);
        font-weight: 600;
    }

    // .descriptions-block__subtitle

    &__subtitle {
        color: rgba(255, 255, 255, 0.5);
        display: flex;
        gap: toRem(10);
    }

    // .descriptions-block__text

    &__text {
        max-width: toRem(542);
        font-size: toRem(14);
    }

    // .descriptions-block__genre

    &__genre {
        display: flex;
    }
}
.actions-block {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    // .actions-block__rating

    &__rating {
        &:not(:last-child) {
            margin-bottom: toRem(35);
        }
    }

    // .actions-block__buttons

    &__buttons {
        display: flex;
        max-width: toRem(178);
        column-gap: toRem(8);
    }

    // .actions-block__add-to-watch

    &__add-to-watch {
    }

    // .actions-block__button

    &__button {
        display: flex;
    }
}
.main-button {
}
.main-button--blue {
}
