<div class="main-banner">
    @if(movieData){
    <app-movie-description [movieDescription]="movieData[index]" class="main-banner__description"></app-movie-description>
    }
    <div class="main-banner__swiper-banner banner-swiper">
        <swiper-container init="false" #mySwiper (swiperactiveindexchange)="slideChange($event)" class="banner-swiper__wrapper">
            @for (movie of movieData; track movie.id) {
            <swiper-slide class="banner-swiper__slide"><p-image width="100%" [src]="movie.poster_path | prefixUrl" class="banner-swiper__image"></p-image></swiper-slide>
            }
        </swiper-container>
    </div>
</div>