@import "@asset/scss/function.scss";
@import "swiper/scss/effect-cards";

.main-banner {
    display: grid;
    grid-template-columns: minmax(toRem(300), toRem(480)) auto;
    min-height: toRem(700);
    justify-content: start;
    // grid-template-columns: 1fr auto;

    padding: toRem(60) toRem(60);
    border-radius: toRem(28.458);
    background: $mainColor;
    backdrop-filter: blur(toRem(8.893229484558105));
    // .main-banner__description

    &__description {
    }

    // .main-banner__swiper-banner

    &__swiper-banner {
    }
}
.banner-swiper {
    // .banner-swiper__wrapper
    position: relative;

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
    }

    // .banner-swiper__slide

    &__slide {
        border-radius: toRem(18);
    }

    // .banner-swiper__image

    &__image {
    }
}
